{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <nav>
        <div class="centered-box">
            <a href="{{ path('portfolio_index') }}">Accueil</a>
            <a href="{{ path('back_index') }}">Menu adminitration</a>
            <a href="{{ path('back_about') }}">Personnalisation</a>
            <a href="{{ path('back_account') }}">Compte</a>
            <a href="{{ path('logout') }}">Se déconnecter</a>
        </div>
    </nav>
{% endblock %}

{% block content %} {{ parent() }} {% endblock %}