{% extends 'back/base.html.twig' %}

{% block title %}{{parent()}} - Admin{% endblock %}


{% block content %}


<div class="back-wrapper">
    <h1> Editer projets </h1>
    <a class="button" href="{{ path('back_add_project') }}"> Ajouter nouveau projet </a>
    <div class="project-wrapper">
        {% for project in projects %}
            <div class="project">
                <p class="hidden-id">{{project.id}}</p>
                {% if project.frontArt is not empty %}
                    <div class="image-wrapper">
                        <img src="{{ asset('/images/artwork/' ~ project.frontArt.image) }}" alt="project image"></img>
                        <img class="background-blur" src="{{ asset('/images/artwork/' ~ project.frontArt.thumbnail) }}" alt="beauty purpose image"></img>
                    </div>
                {% endif %}
                <div class="project-infos">
                    <div class="project-infos-centered"> 
                        <h1> {{ project.name }} </h1>
                        <p> {{ project.description }} </p>
                        <a class="button" href="{{ path('back_project', {'id' : project.id }) }}"> Edit </a>
                        <a class="button delete" href="{{ path('back_delete_project', {'id' : project.id }) }}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

